<div id="carousel" class="carousel slide banner" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <section class="pt-4 pt-md-11">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2">
              <!-- Image -->
              <img
                src="assets/img/banner1.png"
                class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0"
                alt="Master The Code Of Trading"
                data-aos="fade-up"
                data-aos-delay="100"
              />
            </div>
            <div
              class="pt-4 col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate"
              data-aos="fade-up"
            >
              <!-- Heading -->
              <h1 class="display-3 text-center text-md-left">
                Master The Code Of Trading
              </h1>

              <!-- Text -->
              <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                Learn the skills and gain knowledge from industry experts and
                become a winning trader.
              </p>
            </div>
          </div>
          <!-- / .row -->
        </div>
        <!-- / .container -->
      </section>
    </div>
    <div class="carousel-item">
      <section class="pt-4 pt-md-11">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2">
              <!-- Image -->
              <img
                src="assets/img/banner2.png"
                class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate"
                data-aos="fade-up"
                data-aos-delay="100"
                alt=""
              />
            </div>
            <div
              class="pt-4 col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate"
              data-aos="fade-up"
            >
              <!-- Heading -->
              <h1 class="display-3 text-center text-md-left">
                Time For Smart Trading
              </h1>

              <!-- Text -->
              <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                Successful investing takes time, discipline and patience.
              </p>
            </div>
          </div>
          <!-- / .row -->
        </div>
        <!-- / .container -->
      </section>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carousel"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carousel"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<section class="py-8 py-md-11 pt-4 pb-4 bg-white">
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-md-3 aos-init aos-animate d-flex align-items-center flex-column"
        data-aos="fade-up"
      >
        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <img src="./assets/img/mobile.png" height="75" width="75" />
        </div>

        <!-- Heading -->
        <h3>MOBILE</h3>

        <!-- Text -->
        <p class="text-muted mb-6 mb-md-0">Get updates on phone</p>
      </div>
      <div
        class="col-12 col-md-3 aos-init aos-animate d-flex align-items-center flex-column"
        data-aos="fade-up"
        data-aos-delay="50"
      >
        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <img src="./assets/img/currency.png" height="75" width="75" />
        </div>

        <!-- Heading -->
        <h3>Exchange</h3>

        <!-- Text -->
        <p class="text-muted mb-6 mb-md-0">We trade in all exchange</p>
      </div>
      <div
        class="col-12 col-md-3 aos-init aos-animate d-flex align-items-center flex-column"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <img src="./assets/img/tv.png" height="75" width="75" />
        </div>

        <!-- Heading -->
        <h3>Security</h3>

        <!-- Text -->
        <p class="text-muted mb-0">We are licensed.</p>
      </div>
      <div
        class="col-12 col-md-3 aos-init aos-animate d-flex align-items-center flex-column"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <img src="./assets/img/chart.png" height="75" width="75" />
        </div>

        <!-- Heading -->
        <h3>Growth</h3>

        <!-- Text -->
        <p class="text-muted mb-0">We help you grow</p>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>
<section class="p-4 py-8 py-md-11 primary-background">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-5 order-md-1" data-aos="fade-right">
        <!-- Badge -->
        <span class="badge badge-success-soft badge-pill mb-3">
          <span class="h6 text-uppercase"> Training </span>
        </span>

        <!-- Heading -->
        <h2>
          Who should
          <span class="text-success">JOIN</span> ?
        </h2>

        <!-- Text -->
        <p class="font-size-lg text-muted mb-6 mb-md-0">
          <li>
            Anyone who want to learn about Stock Market trading skills or has
            long term investment approach.
          </li>
          <li>Traders, investors and newbies in stock market.</li>
          <li>
            Housewives, students or adults from any career path can enter the
            stock market with accurate guidance from us.
          </li>
          <li>
            Anyone who want to make equity trading and investment as their
            primary or secondary income.
          </li>
        </p>
      </div>
      <div class="col-12 col-md-6 order-md-2" data-aos="fade-left">
        <!-- Card -->
        <div class="card card-border border-success shadow-lg">
          <div class="card-body">
            <!-- List group -->
            <div class="list-group list-group-flush">
              <div class="list-group-item d-flex align-items-center">
                <!-- Text -->
                <div class="mr-auto">
                  <!-- Heading -->
                  <p class="font-weight-bold mb-1">Stock Selection Methods</p>

                  <!-- Text -->
                  <p class="font-size-sm text-muted mb-0">
                    We teach stock selection methods which have been back tested
                    and successful for previous years.
                  </p>
                </div>

                <!-- Check -->
                <div class="badge badge-rounded-circle badge-success-soft ml-4">
                  <i class="fa fa-check"></i>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <!-- Text -->
                <div class="mr-auto">
                  <!-- Heading -->
                  <p class="font-weight-bold mb-1">Chart Setup</p>

                  <!-- Text -->
                  <p class="font-size-sm text-muted mb-0">
                    We will teach how to read charts and make chart setup as per
                    your style.
                  </p>
                </div>

                <!-- Check -->
                <div class="badge badge-rounded-circle badge-success-soft ml-4">
                  <i class="fa fa-check"></i>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <!-- Text -->
                <div class="mr-auto">
                  <!-- Heading -->
                  <p class="font-weight-bold mb-1">Free Calls & Suggestions</p>

                  <!-- Text -->
                  <p class="font-size-sm text-muted mb-0">
                    You'll be part of our paid whatsapp group untill we have
                    helped you recover your previous losses.
                  </p>
                </div>

                <!-- Check -->
                <div class="badge badge-rounded-circle badge-success-soft ml-4">
                  <i class="fa fa-check"></i>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <!-- Text -->
                <div class="mr-auto">
                  <!-- Heading -->
                  <p class="font-weight-bold mb-1">Post Training Support</p>

                  <!-- Text -->
                  <p class="font-size-sm text-muted mb-0">
                    We will provide personal assistance and guide you through
                    until you start trading on your own with clarity and
                    confidence.
                  </p>
                </div>

                <!-- Check -->
                <div class="badge badge-rounded-circle badge-success-soft ml-4">
                  <i class="fa fa-check"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>
