<section class="p-3 bg-gray-200" style="background-color: #f1f2f2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <!-- Heading -->
        <h1>Advance Program on Option Selling</h1>

        <!-- Text -->
        <p class="lead text-gray-700">Option Writing & Pair Trading.</p>

        <!-- Form -->
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 col-md-5 col-lg-4 text-center">
        <a
          href="javascript:void(0)"
          (click)="payWithRazor()"
          class="card-btn btn btn-block btn-lg btn-primary"
        >
        Start Now at ₹
          <span
          class="price"
          [countUp]="price"
          [options]="{ duration: 1 }"
          > 3999</span
        >
        </a>
      </div>
    </div>
    <div class="card-body py-6 py-md-8">
      <div class="row justify-content-center">
        <div class="col-12 col-xl-10">
          <div class="d-flex align-items-center">
            <!-- Text -->
            <div class="mr-auto">
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                This program is designed specially for option selling. After
                this program you will be able to do sell or write option
                contracts of stocks and that of Bank Nifty. Options writing is
                an advance level trading and requires prior knowledge on stock
                fundamental and chart analysis and F&O analysis. Option writing
                require high capital to trade, adjust and to maintain margin
                requirement. Program covers live trading intraday trading &
                hedging Program is more practical with live analysis of option
                chain of index as well as stocks.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- / .row -->
    </div>
    <div class="card-body py-6 py-md-8">
      <div class="row justify-content-center">
        <div class="col-12 col-xl-10">
          <p class="text-center mb-8 mb-md-11">
            <span class="badge badge-pill badge-primary-soft">
              <span class="h6 font-weight-bold text-uppercase">
                Why should you do this course?
              </span>
            </span>
          </p>
          <div class="d-flex align-items-center">
            <!-- Text -->

            <div class="mr-auto">
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Individuals who want to enter option writing for consistent
                gains can do this course. Important Note: This is an advance
                level programPrior knowledge in share trading along with basics
                of Futures & Options is required to undergo this courseOption
                selling requires high margin for over night tradesAdditional
                margin money is required to get into pair trades or hedged
                trades
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body py-6 py-md-12">
      <p class="text-center mb-8 mb-md-11">
        <span class="badge badge-pill badge-primary-soft">
          <span class="h6 font-weight-bold text-uppercase">Prerequisite</span>
        </span>
      </p>
      <p class="text-center mb-8 mb-md-11">
        <span class="badge badge-pill badge-success mb-3">
          <span class="h6 text-uppercase"
            >Minimum Capital required – Rs.3,50,000 & above</span
          >
        </span>
      </p>
      <div class="row justify-content-center">
        <div class="row col-10 col-md-10 col-lg-10">
          <div class="d-flex col-12 col-md-12 col-lg-6">
            <!-- Text -->
            <div class="mr-auto">
              <!-- Text -->
              <ul class="font-size-sm text-muted mb-0">
                <li>Prior Knowledge Required Chart</li>
                <li>Analysis</li>
                <li>Valuation analysis</li>
                <li>Call option analysis</li>
                <li>Put option analysis</li>
                <li>Premium calculation</li>
                <li>Analysis of combined ITM, ATM and OTM strikes</li>
                <li>Put to Call ratio</li>
                <li>Change in OI</li>
                <li>volatility</li>
              </ul>
            </div>
          </div>
          <div class="d-flex col-12 col-md-12 col-lg-6">
            <!-- Text -->
            <div class="mr-auto">
              <!-- Text -->

              <ul class="font-size-sm text-muted mb-0">
                <li>Program Outline Option selling strategies</li>
                <li>Money management</li>
                <li>Trading with delta and gamma</li>
                <li>Trade set up</li>
                <li>Option chain analysis of top 10 companies in Nifty 50</li>
                <li>Option chain analysis of top 6 companies in Bank Nifty</li>
                <li>
                  Analysis of weekly & monthly expiry of Nifty 50 & Bank Nifty
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- / .row -->
    </div>
  </div>
</section>
